@media screen and (min-width: 1000px) {
    @keyframes project-anim {
        from {background: transparent}
        to {background: white}
    }
  
    * {
        margin: 0;
        padding: 0;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }

    a {
        text-decoration: none;
    }

    body {
        overflow-y: hidden;
    }

    h1 {
        text-align: center;
        font: bold 2em 'Bahnschrift', sans-serif;
    }

    .desc {
        text-align: center;
        font: lighter .8em 'Bahnschrift', sans-serif;
    }

    main {
        padding-top: 70px; 
        position: absolute;
        left: 200px;
        top: 0;
        width: calc(100vw - 200px);
    }

    #burger {
        display: none;
    }

    #navigation {
        position: sticky;
        top: 0;
        left: 0;
        width: 100px;
        height: 100vh;
        padding: 50px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
    }

    #navigation a {
        font: lighter 1em 'Bahnschrift', sans-serif;
        color: rgb(117, 117, 117);
        text-decoration: none;
    }

    #navigation li {
        line-height: 24px;
        letter-spacing: 0px;
    }

    #logo {
        margin: 0 0 50px 0;
        width: 50px;
    }

    #main-menu {
        list-style-type: none;
        margin: 0 0 50px 0;
    }

    #projects-title {
        margin: 0 0 10px 0;
        font: bold 1em 'Bahnschrift', sans-serif;
    }

    #projects-menu {
        list-style-type: none;
    }
}