@media screen and (max-width: 999px) {
    * {
        margin: 0;
        padding: 0;
    }

    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: #323958;
    }
    
    *::-webkit-scrollbar-thumb {
        background: rgb(113, 174, 253)
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    main {
        overflow-y: hidden;
    }

    #burger {
        z-index: 3;
        opacity: 0;
        position: absolute;     
        width: 50px;
        height: 40px;
    }

    #burger:checked ~ .burger-span {
        background: black;
    }

    #burger:checked ~ .burger-span:nth-child(2) {
        transform: rotate(45deg) translateY(7px) translateX(7px);
    }

    #burger:checked ~ .burger-span:nth-child(3) {
        opacity: 0;
    }

    #burger:checked ~ .burger-span:nth-child(4) {
        transform: rotate(-45deg) translateY(-7px) translateX(7px);
    }

    .burger-span {
        z-index: 2;
        position: absolute;
        width: 40px;
        height: 5px;
        left: 5px;
        border-radius: 10px;
        transition: all .25s ease-in-out;
        background-color: white;
    }

    .burger-span:nth-child(2) {
        top: 10px;
    }

    .burger-span:nth-child(3) {
        top: 20px;
    }

    .burger-span:nth-child(4) {
        top: 30px;
    }

    #burger:checked ~ #navigation {
        transform: translateX(0);
    }
    
    #navigation {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        padding-top: 50px;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        transition: all .2s ease-in-out;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
        transform: translateX(-100vw);
    }

    #navigation a {
        font: lighter 1em 'Bahnschrift', sans-serif;
        color: rgb(117, 117, 117);
        text-decoration: none;
    }

    #navigation li {
        line-height: 24px;
        letter-spacing: 0px;
    }

    #logo {
        margin: 0 0 50px 0;
        width: 50px;
    }

    #main-menu {
        list-style-type: none;
        margin: 0 0 50px 0;
    }

    #projects-title {
        margin: 0 0 10px 0;
        font: bold 1em 'Bahnschrift', sans-serif;
    }

    #projects-menu {
        list-style-type: none;
    }

    main {
        display: flex;
        background: url(/assets/images/bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .projects-grid {
        overflow-y: scroll;
        width: 100vw;
        padding: 50px;
    }

    .project {
        border-radius: 3px;
        margin-top: 50px;
        cursor: pointer;
        position: relative;
        height: 250px;
        width: 80vw;
        overflow: hidden;
        text-align: center;
        background: white;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
    }

    .project h2 {
        text-shadow: 0px 5px 5px rgba(0, 0, 0, .7);
        font: bolder 1.8em 'Bahnschrift', sans-serif;
        color: black;
        text-shadow: none;
        transform: translateY(100px);
    }

    .project p {
        padding: 10px;
        font: lighter 1em 'Bahnschrift', sans-serif;
        transition: all .25s ease-in-out;
        height: 50px;
        transform: translateY(60px);
        color: gray;
    }
    .langs {
        margin: auto;
        width: 100px;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }

    .lang {
        position: relative;
        width: 20px;
        height: 20px;
        transition: all .25s ease-in-out;
    }
}